In [1]:
from csdmpy.data.ssda903 import SSDA903TableType
from csdmpy.datacontainer import DemandModellingDataContainer
import csdmpy_fakedata as sample

# Datacontainer API

At the core of the datafiles api is the ability to read, index and merge the data files. 

To initialse the system, pass in a DataStore

In [2]:
dc = DemandModellingDataContainer(sample.V1)

dc.first_year, dc.last_year

(2017, 2021)

We can then access the files directly using the year and table type

In [3]:
dc.get_table(dc.first_year, SSDA903TableType.EPISODES)

,CHILD,DECOM,RNE,LS,CIN,PLACE,PLACE_PROVIDER,DEC,REC,REASON_PLACE_CHANGE,HOME_POST,PL_POST,URN
0,398768,09/04/2017,S,L3,N1,U4,PR1,31/10/2017,E7,NaN,V28 5OY,H8 7NR,1679094
1,296227,11/09/2017,S,C1,N2,U5,PR4,13/09/2017,X1,PLACE,C13 6WC,C26 9VP,9961998
2,296227,13/09/2017,P,C1,N2,U4,PR1,NaN,X1,NaN,B12 2KE,S19 8BX,3013387
3,868699,11/01/2016,P,J3,N7,H5,PR4,06/04/2017,E14,NaN,Y27 2JT,X17 1HG,5722664
4,640353,10/11/2017,S,C2,N2,U5,PR4,NaN,X1,CLOSE,M26 1OB,V7 1WK,6082332
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,820261,21/01/2018,P,L2,N1,A4,PR4,NaN,E12,NaN,O15 2BN,E16 7VL,3024869
1456,548319,03/01/2017,S,V4,N3,U4,PR4,27/07/2017,X1,NaN,Q7 1AU,N23 9RM,7204315
1457,548319,27/07/2017,L,V2,N3,U4,PR4,01/08/2017,X1,LAREQ,Q7 1AU,N23 9RM,7204315
1458,548319,01/08/2017,P,V2,N3,U2,PR1,30/09/2017,X1,CARPL,D6 2SV,J12 3SO,2269245
1459,548319,30/09/2017,P,V2,N3,U2,PR1,NaN,E47,NaN,K1 7DA,O6 2KI,7325219

## Combining the files

A key part of the demand modelling is a unified, combined view of several years. To do this the Headers and Episodes needs to be combined to
create a child-based view. This view can be fetched on a year-by-year basis.

In [4]:
dc.get_combined_year(dc.first_year)

,CHILD,SEX,DOB,ETHNIC,UPN,MOTHER,MC_DOB,DECOM,RNE,LS,CIN,PLACE,PLACE_PROVIDER,DEC,REC,REASON_PLACE_CHANGE,HOME_POST,PL_POST,URN
0,398768,2,1999-12-17,BCRB,B097131712320,1.0,21/11/2017,2017-04-09,S,L3,N1,U4,PR1,2017-10-31,E7,NaN,V28 5OY,H8 7NR,1679094
1,296227,2,2002-06-23,NOBT,R056024362409,NaN,NaN,2017-09-11,S,C1,N2,U5,PR4,2017-09-13,X1,PLACE,C13 6WC,C26 9VP,9961998
2,296227,2,2002-06-23,NOBT,R056024362409,NaN,NaN,2017-09-13,P,C1,N2,U4,PR1,NaT,X1,NaN,B12 2KE,S19 8BX,3013387
3,868699,2,1999-04-12,BOTH,X090802290579,NaN,NaN,2016-01-11,P,J3,N7,H5,PR4,2017-04-06,E14,NaN,Y27 2JT,X17 1HG,5722664
4,640353,1,2004-02-19,REFU,Z053273524673,NaN,NaN,2017-11-10,S,C2,N2,U5,PR4,NaT,X1,CLOSE,M26 1OB,V7 1WK,6082332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,820261,2,2001-08-15,NOBT,O050327186695,NaN,NaN,2018-01-21,P,L2,N1,A4,PR4,NaT,E12,NaN,O15 2BN,E16 7VL,3024869
1456,548319,1,2006-10-13,AOTH,T012348497871,NaN,NaN,2017-01-03,S,V4,N3,U4,PR4,2017-07-27,X1,NaN,Q7 1AU,N23 9RM,7204315
1457,548319,1,2006-10-13,AOTH,T012348497871,NaN,NaN,2017-07-27,L,V2,N3,U4,PR4,2017-08-01,X1,LAREQ,Q7 1AU,N23 9RM,7204315
1458,548319,1,2006-10-13,AOTH,T012348497871,NaN,NaN,2017-08-01,P,V2,N3,U2,PR1,2017-09-30,X1,CARPL,D6 2SV,J12 3SO,2269245
1459,548319,1,2006-10-13,AOTH,T012348497871,NaN,NaN,2017-09-30,P,V2,N3,U2,PR1,NaT,E47,NaN,K1 7DA,O6 2KI,7325219

Next these files are combined and de-duplicated so we end up with a single, multi-year view.

In [5]:
dc.get_combined_data()

,CHILD,SEX,DOB,ETHNIC,UPN,MOTHER,MC_DOB,DECOM,RNE,LS,CIN,PLACE,PLACE_PROVIDER,DEC,REC,REASON_PLACE_CHANGE,HOME_POST,PL_POST,URN
69,91,2,1999-10-19,MOTH,W064737016429,NaN,NaN,2016-09-01,P,J2,N2,H5,PR4,2017-10-13,E8,NaN,W11 2QK,Y7 6AL,2141660
360,290,2,2000-11-13,MWBC,S077270991828,NaN,NaN,2016-11-19,T,D1,N5,U5,PR4,2018-10-01,X1,NaN,O10 4BF,X15 3NT,9727828
361,290,2,2000-11-13,MWBC,S077270991828,NaN,NaN,2018-10-01,L,J3,N5,U5,PR4,2018-11-08,E46,NaN,O10 4BF,X15 3NT,9727828
507,519,1,2002-03-26,AOTH,Z083151961630,NaN,NaN,2017-03-09,P,J2,N6,U4,PR1,2017-09-14,E4A,NaN,O6 1YB,Y26 2WY,3701521
508,519,1,2002-03-26,AOTH,Z083151961630,NaN,NaN,2017-09-14,S,D1,N8,U5,PR4,2018-02-19,X1,NaN,G23 4FG,C14 9EK,5289150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,994520,1,1999-12-18,ABAN,H007512766791,NaN,NaN,2015-10-24,P,L1,N2,U2,PR1,2017-12-12,E45,NaN,N29 9SI,D17 9QL,3412090
75,994928,1,2005-02-01,WROM,G039321116055,NaN,NaN,2017-01-11,L,L1,N8,R2,PR3,2020-06-17,X1,CLOSE,T25 7QP,E16 1PK,3601572
55,994928,1,2005-02-01,WROM,G039321116055,NaN,NaN,2020-06-17,P,L1,N8,U1,PR1,2021-11-25,X1,CUSTOD,P19 7ES,R1 5SL,7748604
56,994928,1,2005-02-01,WROM,G039321116055,NaN,NaN,2021-11-25,P,L1,N8,K2,PR4,NaT,E8,NaN,A21 2YD,H1 2QN,3642986
987,998328,1,2004-03-15,AIND,F032614785936,NaN,NaN,2016-06-05,T,L1,N8,A6,PR4,2017-09-21,E13,NaN,I3 2PP,U30 7FF,7542189

# Enrichment

Now we can look at adding the additional fields required for analysis

In [6]:
dc.get_enriched_view()

,CHILD,SEX,DOB,ETHNIC,UPN,MOTHER,MC_DOB,DECOM,RNE,LS,...,URN,age,end_age,age_bin,end_age_bin,PLACE_AFTER,PLACE_BEFORE,placement_type,placement_type_before,placement_type_after
69,91,2,1999-10-19,MOTH,W064737016429,NaN,NaN,2016-09-01,P,J2,...,2141660,16.871098,17.985434,AgeBracket.SIXTEEN_TO_EIGHTEEN,AgeBracket.SIXTEEN_TO_EIGHTEEN,NOT_IN_CARE,NOT_IN_CARE,PlacementCategory.SUPPORTED,PlacementCategory.NOT_IN_CARE,PlacementCategory.NOT_IN_CARE
360,290,2,2000-11-13,MWBC,S077270991828,NaN,NaN,2016-11-19,T,D1,...,9727828,16.016866,17.881393,AgeBracket.SIXTEEN_TO_EIGHTEEN,AgeBracket.SIXTEEN_TO_EIGHTEEN,NOT_IN_CARE,NOT_IN_CARE,PlacementCategory.FOSTER,PlacementCategory.NOT_IN_CARE,PlacementCategory.NOT_IN_CARE
361,290,2,2000-11-13,MWBC,S077270991828,NaN,NaN,2018-10-01,L,J3,...,9727828,17.881393,17.985434,AgeBracket.SIXTEEN_TO_EIGHTEEN,AgeBracket.SIXTEEN_TO_EIGHTEEN,U5,U5,PlacementCategory.FOSTER,PlacementCategory.FOSTER,PlacementCategory.FOSTER
507,519,1,2002-03-26,AOTH,Z083151961630,NaN,NaN,2017-03-09,P,J2,...,3701521,14.954550,15.472018,AgeBracket.TEN_TO_SIXTEEN,AgeBracket.TEN_TO_SIXTEEN,NOT_IN_CARE,NOT_IN_CARE,PlacementCategory.FOSTER,PlacementCategory.NOT_IN_CARE,PlacementCategory.NOT_IN_CARE
508,519,1,2002-03-26,AOTH,Z083151961630,NaN,NaN,2017-09-14,S,D1,...,5289150,15.472018,15.904611,AgeBracket.TEN_TO_SIXTEEN,AgeBracket.TEN_TO_SIXTEEN,U4,U4,PlacementCategory.FOSTER,PlacementCategory.FOSTER,PlacementCategory.FOSTER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,994520,1,1999-12-18,ABAN,H007512766791,NaN,NaN,2015-10-24,P,L1,...,3412090,15.849852,17.985434,AgeBracket.TEN_TO_SIXTEEN,AgeBracket.SIXTEEN_TO_EIGHTEEN,NOT_IN_CARE,NOT_IN_CARE,PlacementCategory.FOSTER,PlacementCategory.NOT_IN_CARE,PlacementCategory.NOT_IN_CARE
75,994928,1,2005-02-01,WROM,G039321116055,NaN,NaN,2017-01-11,L,L1,...,3601572,11.942832,15.373453,AgeBracket.TEN_TO_SIXTEEN,AgeBracket.TEN_TO_SIXTEEN,NOT_IN_CARE,NOT_IN_CARE,PlacementCategory.OTHER,PlacementCategory.NOT_IN_CARE,PlacementCategory.NOT_IN_CARE
55,994928,1,2005-02-01,WROM,G039321116055,NaN,NaN,2020-06-17,P,L1,...,7748604,15.373453,16.813602,AgeBracket.TEN_TO_SIXTEEN,AgeBracket.SIXTEEN_TO_EIGHTEEN,R2,R2,PlacementCategory.FOSTER,PlacementCategory.OTHER,PlacementCategory.OTHER
56,994928,1,2005-02-01,WROM,G039321116055,NaN,NaN,2021-11-25,P,L1,...,3642986,16.813602,NaN,AgeBracket.SIXTEEN_TO_EIGHTEEN,None,U1,U1,PlacementCategory.RESIDENTIAL,PlacementCategory.FOSTER,PlacementCategory.FOSTER
987,998328,1,2004-03-15,AIND,F032614785936,NaN,NaN,2016-06-05,T,L1,...,7542189,12.224838,13.519877,AgeBracket.TEN_TO_SIXTEEN,AgeBracket.TEN_TO_SIXTEEN,NOT_IN_CARE,NOT_IN_CARE,PlacementCategory.OTHER,PlacementCategory.NOT_IN_CARE,PlacementCategory.NOT_IN_CARE