# Timeseries - time_concat

As part of the model we look at behaviour during an interval of time. The `time_concat` function of the timeseries creates a window
of only the relevant episodes within that window.

In [1]:
import pandas as pd
import csdmpy.timeseries as ts

In [2]:
df = pd.DataFrame([
    [pd.to_datetime('2021-02-15'), pd.to_datetime('2021-02-28'), 'Starts before, ends before'],
    [pd.to_datetime('2021-02-15'), pd.to_datetime('2021-03-15'), 'Stars before, ends during'],
    [pd.to_datetime('2021-02-15'), pd.to_datetime('2021-04-15'), 'Starts before, ends after'],
    [pd.to_datetime('2021-02-15'), None, 'Starts before, no end'],
    [pd.to_datetime('2021-03-15'), pd.to_datetime('2021-03-25'), 'Starts during, ends during'],
    [pd.to_datetime('2021-03-15'), pd.to_datetime('2021-04-25'), 'Starts during, ends after'],
    [pd.to_datetime('2021-04-15'), pd.to_datetime('2021-05-25'), 'Starts after, ends after'],
], columns=['DECOM', 'DEC', 'DESC'])
df

       DECOM        DEC                        DESC
0 2021-02-15 2021-02-28  Starts before, ends before
1 2021-02-15 2021-03-15   Stars before, ends during
2 2021-02-15 2021-04-15   Starts before, ends after
3 2021-02-15        NaT       Starts before, no end
4 2021-03-15 2021-03-25  Starts during, ends during
5 2021-03-15 2021-04-25   Starts during, ends after
6 2021-04-15 2021-05-25    Starts after, ends after

In [3]:
ts.time_truncate(df.copy(), pd.to_datetime('2021-03-01'), pd.to_datetime('2021-03-30'))

       DECOM        DEC                        DESC
1 2021-02-15 2021-03-15   Stars before, ends during
2 2021-02-15 2021-04-15   Starts before, ends after
3 2021-02-15        NaT       Starts before, no end
4 2021-03-15 2021-03-25  Starts during, ends during
5 2021-03-15 2021-04-25   Starts during, ends after

In [4]:
ts.time_truncate(df.copy(), pd.to_datetime('2021-03-01'), pd.to_datetime('2021-03-30'), close=True)

       DECOM        DEC                        DESC
1 2021-02-15 2021-03-15   Stars before, ends during
2 2021-02-15 2021-04-15   Starts before, ends after
3 2021-02-15 2021-03-30       Starts before, no end
4 2021-03-15 2021-03-25  Starts during, ends during
5 2021-03-15 2021-04-25   Starts during, ends after

In [5]:
ts.time_truncate(df, pd.to_datetime('2021-03-01'), pd.to_datetime('2021-03-30'), clip=True)

/Users/kws/sfdl/csdmpy/csdm-py/csdmpy/timeseries.py:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[s_col] = df[s_col].clip(lower=start_date)
/Users/kws/sfdl/csdmpy/csdm-py/csdmpy/timeseries.py:85: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[e_col] = df[e_col].clip(upper=end_date)

       DECOM        DEC                        DESC
1 2021-03-01 2021-03-15   Stars before, ends during
2 2021-03-01 2021-03-30   Starts before, ends after
3 2021-03-01        NaT       Starts before, no end
4 2021-03-15 2021-03-25  Starts during, ends during
5 2021-03-15 2021-03-30   Starts during, ends after

In [6]:
ts.time_truncate(df.copy(), pd.to_datetime('2021-03-01'), pd.to_datetime('2021-03-30'), close=True, clip=True)

/Users/kws/sfdl/csdmpy/csdm-py/csdmpy/timeseries.py:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[s_col] = df[s_col].clip(lower=start_date)
/Users/kws/sfdl/csdmpy/csdm-py/csdmpy/timeseries.py:85: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[e_col] = df[e_col].clip(upper=end_date)

       DECOM        DEC                        DESC
1 2021-03-01 2021-03-15   Stars before, ends during
2 2021-03-01 2021-03-30   Starts before, ends after
3 2021-03-01 2021-03-30       Starts before, no end
4 2021-03-15 2021-03-25  Starts during, ends during
5 2021-03-15 2021-03-30   Starts during, ends after